body {
	font-family: Arial, sans-serif;
	background: #f0f0f5;
	padding: 30px;
	max-width: 800px;
	margin: auto;
}
h1,
h2 {
	text-align: center;
}
.card {
	background: #fff;
	padding: 20px;
	margin: 20px 0;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.question {
	font-size: 1.2em;
	margin-bottom: 10px;
}
.answer {
	display: none;
	margin: 24px 0;
	color: #2e7d32;
	/* white-space: pre-wrap; */
}
.answer ul {
  padding-left: 16px;
}
.answer li::first-letter {
  text-transform: capitalize;
}
.bottom-buttons {
	display: flex;
	align-items: center;
	margin-top: 40px;
}
button {
	padding: 10px 15px;
	font-size: 1em;
	margin-right: 10px;
	cursor: pointer;
}
.home-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#summary {
	display: none;
}
.correct {
	color: green;
}
.wrong {
	color: red;
}
.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #888;
}
.footer a {
  color: #888;
}
.footer a:hover {
  text-decoration: none;
}